{% load media %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
</head>

<body>
  
  <p>From:
  <ul>
    {% for email in from_emails %}    
    <li><a href="/admin/mail/email/{{ email.id }}">{% if email.subject %}{{ email.subject }}{% else %}NO SUBJECT{% endif %}</a></li>    
    {% endfor %}
  </ul>
  </p>
  
  <p>To:
  <ul>
    {% for email in to_emails %}    
    <li><a href="/admin/mail/email/{{ email.id }}">{% if email.subject %}{{ email.subject }}{% else %}NO SUBJECT{% endif %}</a></li>    
    {% endfor %}
  </ul>
  </p>
    
  <p>CC:
  <ul>
    {% for email in cc_emails %}    
    <li><a href="/admin/mail/email/{{ email.id }}">{% if email.subject %}{{ email.subject }}{% else %}NO SUBJECT{% endif %}</a></li>    
    {% endfor %}
  </ul>
  </p>

</body>
</html>